*{
    margin: 0;
    padding: 0;
    list-style: none;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.app {
    width: 100vw;
    height: 100vh;

}

h2{
    padding: 10px;
}

.box{
    padding: 50px 20px ;
    margin: 20px auto;
    border: 1px solid red;
}