*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body
#root{
  width: 100vw;
  height: 100vh;
  background-color: #EAEDF1;
  font-size: 14px;
}